@{
  Layout = "_Layout";
}

<h4>Welcome to Pierre's Sweet & Savory Treats!</h4>

<br/>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Treats</h5>
      </div>
      <div class="card-body">
        TREATS GO HERE
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>Flavors</h5>
      </div>
      <div class="card-body">
        FLAVORS GO HERE
      </div>
    </div>
  </div>
</div>