@{
  Layout = "_Layout";
}

<h4>Account Management</h4>

@if (User.Identity.IsAuthenticated)
{
  <p>Hello, @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" value="Log Off" class="btn btn-primary" />
  }
}
else
{
  <h5>@Html.ActionLink("Log In", "Login")</h5>
  <h5>@Html.ActionLink("Register", "Register")</h5>
}