<div class="d-flex justify-content-center head">
  <nav class="header">
    <div class="row">
      <div class="col brand">
        <img src="~/img/logo.png" class="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-12 navbar">
        <img class="flag" src="~/img/flag.png" alt="pink flag">
        @Html.ActionLink("Home", "Index", "Home")
        <br/>
        @Html.ActionLink("Treats", "Index", "Treats")
        <br/>
        @Html.ActionLink("Flavors", "Index", "Flavors")
        <br/>
        @Html.ActionLink("Account", "Index", "Account")
        <img class="flag" src="~/img/flag.png" alt="pink flag">
      </div>
    </div>
  </nav>
</div>
<br/>