<nav>
  <h1>Pierres</h1>
  @Html.ActionLink("Home", "Index", "Home") |
  @Html.ActionLink("Treats", "Index", "Treats") |
  @Html.ActionLink("Flavors", "Index", "Flavors") |
  @Html.ActionLink((User.Identity.IsAuthenticated ? User.Identity.Name : "Account"), "Index", "Account")
</nav>
<hr/>