/* GENERAL */
a {
  text-decoration:none;
}

/* HEADER/NAV*/

.brand {
  text-align: center;
}
.logo {
  width: 200px;
}

.navbar a, .nav-account a{
  font-weight: bold;
  margin-top: 10px;
  color: #590A29;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a:hover, .nav-account a:hover {
  text-decoration: underline;
  text-decoration-color: #590A29;
}

.nav-account {
  float:right;
}

/* CARDS */

.account-index {
  text-align: center;
}