/* GENERAL */
a {
  text-decoration:none;
}

/* HEADER/NAV*/

.brand {
  margin-top: 10px;
  text-align: center;
}

.logo {
  width: 200px;
}

.navbar a, .nav-account a{
  font-weight: bold;
  font-size: large;
  margin-top: 10px;
  color: #590A29;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar a:hover, .nav-account a:hover {
  text-decoration: underline;
  text-decoration-color: #590A29;
}

.nav-account {
  float:right;
}

/* SUBHEADER */
/* body {
  background-image: url("~/img/bars.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
} */

/* CARDS */

.splash .card-header, .account-header h6, .account-header h5 {
  text-align: center;
}

.account-index {
  text-align: center;
}

.btn-x {
  border: none;
  font-weight: bold;
}

.login-footer, .register-footer {
  text-align: center;
}

.login-btn, .register-btn {
  width: 80%;
  margin: 10px auto;
}

.login-footer a, .register-footer a {
  padding-left: 15px;
  padding-right: 15px;
}

.splash .card-body {
  text-align: center;
}